<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog  modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <form class="needs-validation"
        (submit)="this.postService.selectedPostToEdit==null?addPost(postForm):editPost(postForm)" #postForm="ngForm"
        enctype="multipart/form-data" novalidate>
        <div class="modal-header text-dark">
          <h5 *ngIf="this.postService.selectedPostToEdit==null;else h5Block" class="modal-title" id="exampleModalLabel">
            Upload Post</h5>
          <ng-template #h5Block>
            <h5 class="modal-title me-3" id="exampleModalLabel">Edit Post</h5>
          </ng-template>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div *ngIf="this.postService.selectedPostToEdit!=null; else elseBlock">
            <div *ngFor="let link of this.postService.selectedPostToEdit.imgPath">
              <div class="border rounded float-start m-1 mb-2" (mouseover)="this.entered=true"
                (mouseout)="this.entered=false">
                <div style="width: 40px;height: 40px;">
                  <img class="overflow-hidden w-100" [src]="link">
                </div>
                <button type="button" class="btn btn-sm btn-outline-danger  shadow-none"
                  (click)="deleteImage(link)">delete</button>
              </div>
            </div>
          </div>
          <ng-template #elseBlock></ng-template>
          <div class="input-group mb-3">
            <input type="file" name="fileInp" class="form-control" id="inputGroupFile02"
              accept="image/png, image/gif, image/jpeg" (change)="selected($event)" ngModel required multiple>
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default"> Add Link</span>
            <input id="link" name="linkInp" ngModel required type="text" class="form-control"
              aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default">Title</span>
            <input id="title" name="titleInp" [ngModel]='this.postService.selectedPostToEdit?.title' required
              type="text" class="form-control" aria-label="Sizing example input"
              aria-describedby="inputGroup-sizing-default">
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default">Price (₹)</span>
            <input id="price" name="priceInp" [ngModel]="this.postService.selectedPostToEdit?.price" required
              type="number" class="form-control" aria-label="Sizing example input"
              aria-describedby="inputGroup-sizing-default">
          </div>
          <div class="input-group">
            <span class="input-group-text">Description</span>
            <textarea id="des" type="text" class="form-control" name="desInp"
              [ngModel]="this.postService.selectedPostToEdit?.des"></textarea>
          </div>
          <div class="input-group mt-3">
            <div class="input-group-prepend">
              <label class="input-group-text" for="inputGroupSelect01">Category</label>
            </div>
            <select class="form-select"
              [ngModel]="this.postService.selectedPostToEdit?this.postService.selectedPostToEdit.category:undefined"
              id="categoryInp" name="categoryInp" aria-label="Default select example" required>
              <option *ngFor="let category of this.postService.categories()" [value]="category">{{category}}</option>
            </select>
          </div>
          <div *ngIf="postCreationStatus=='success' && this.postService.selectedPostToEdit==null"
            class="alert alert-success fade show mt-1 text-center" role="alert">
            <strong>{{this.message}}</strong>
          </div>
          <div *ngIf="postCreationStatus=='invalid' && this.postService.selectedPostToEdit==null"
            class="alert alert-danger fade show mt-1 text-center" role="alert">
            <strong>{{this.message}}</strong>
          </div>
          <div *ngIf="this.message==''" class="alert alert-danger fade show mt-1 text-center d-none" role="alert">
            <strong></strong>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
            (click)="postCreationStatus='uninit';this.message=''">Close</button>
          <button *ngIf="this.postService.selectedPostToEdit==null;else submitBlock" type="submit"
            class="btn btn-primary">Upload</button>
          <ng-template #submitBlock>
            <button type="submit" class="btn btn-primary">Save Changes</button>
          </ng-template>
        </div>
      </form>
    </div>
  </div>
</div>