<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog  modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <form class="needs-validation" (submit)="addPost(postForm)" #postForm="ngForm" enctype="multipart/form-data"
        novalidate>
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Upload Post</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div *ngIf="this.postService.selectedPostToEdit!=null; else elseBlock">
            <div *ngFor="let link of this.postService.selectedPostToEdit.imgPath">
              <img class="border rounded border-dark mt-1 mb-2 me-1 float-start" width="50" height="50" src="{{link}}">
            </div>
          </div>
          <ng-template #elseBlock></ng-template>
          <div class="input-group mb-3">
            <input type="file" name="fileInp" class="form-control" id="inputGroupFile02"
              accept="image/png, image/gif, image/jpeg" (change)="selected($event)" ngModel required multiple>
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default">Link</span>
            <input id="link" name="linkInp" ngModel required type="text" class="form-control"
              aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default">Title</span>
            <input id="title" name="titleInp" [ngModel]='this.postService.selectedPostToEdit?.title' required
              type="text" class="form-control" aria-label="Sizing example input"
              aria-describedby="inputGroup-sizing-default">
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default">Price (₹)</span>
            <input id="price" name="priceInp" [ngModel]="this.postService.selectedPostToEdit?.price" required
              type="number" class="form-control" aria-label="Sizing example input"
              aria-describedby="inputGroup-sizing-default">
          </div>
          <div class="input-group">
            <span class="input-group-text">Description</span>
            <textarea id="des" type="text" class="form-control" name="desInp"
              [ngModel]="this.postService.selectedPostToEdit?.des"></textarea>
          </div>
          <div class="input-group mt-3">
            <div class="input-group-prepend">
              <label class="input-group-text" for="inputGroupSelect01">Category</label>
            </div>
            <select class="form-select" [ngModel]="this.postService.selectedPostToEdit?.category"
              (change)="selectChangeHandler($event)" name="categoryInp" aria-label="Default select example" required>
              <option value="Uncategorised">Uncategorised</option>
              <option value="Mens Wear">Mens Wear</option>
              <option value="Watches">Watches</option>
              <option value="Glares">Glares</option>
              <option value="Cosmetics">Cosmetics</option>
              <option value="Headsets/Earbuds">Headsets/Earbuds</option>
              <option value="Mobile Accessories">Mobile Accessories</option>
              <option value="Household">Household</option>
            </select>
          </div>
          <div *ngIf="postCreationStatus=='success'" class="alert alert-success fade show mt-1 text-center"
            role="alert">
            <strong>Post Created Successfully</strong>
          </div>
          <div *ngIf="postCreationStatus=='invalid'" class="alert alert-danger fade show mt-1 text-center" role="alert">
            <strong>{{this.message}}</strong>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
            (click)="postCreationStatus='uninit'">Close</button>
          <button type="submit" class="btn btn-primary">Upload</button>
        </div>
      </form>
    </div>
  </div>
</div>