<header>
  <nav id="nav1" class="navbar navbar-dark bg-dark navbar-expand-lg shadow-lg position-relative" style="opacity: 0.9;">
    <div class="container-fluid fs-4 fw-bolder">
      <a class="navbar-brand fs-3 text-shadow text-light" href="#">AGS Market</a>
      <button class="navbar-toggler" (click)="hideTitle(true,false)" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link text-shadow" aria-current="page" routerLink="/"><button
                class="btn btn-outline-light">Home</button></a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-shadow" routerLink="/about"><button class="btn btn-outline-light">About</button></a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-shadow"><button class="btn btn-outline-light" data-bs-toggle="modal"
                data-bs-target="#exampleModal" (click)="this.postService.emptyUploadForm()">Upload Post</button></a>
          </li>
          <li *ngIf="location===origin || location.includes('#')" class="nav-item dropdown">
            <a class="nav-link " href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              <button class="btn btn-outline-light dropdown-toggle">Categories</button>
            </a>
            <ul class="dropdown-menu bg-dark" style="width: 500px;" aria-labelledby="navbarDropdown">
              <div *ngFor="let category of this.postService.categories()">
                <a href="#{{category}}"><button
                    class="btn btn-sm m-1 btn-outline-light float-start">{{category}}</button></a>
              </div>
            </ul>
          </li>

        </ul>
        <div class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" (change)="change()" id="searchInp"
            aria-label="Search">
          <a (click)="reset()">
            <button id="search" class="btn btn-outline-light" type="button">Search</button>
          </a>
        </div>
      </div>
    </div>
  </nav>
</header>

<app-post-form></app-post-form>