<header>
  <nav class="navbar navbar-dark bg-dark navbar-expand-lg">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">AGS Market</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="/">Home</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              Posts
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#exampleModal">Upload
                  Post</a>
              </li>
              <li><a class="dropdown-item" href="#search">Find Post</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/about">About</a>
          </li>
        </ul>
        <div class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button id="search" class="btn btn-outline-light" routerLink="/" type="submit">Search</button>
        </div>
      </div>
    </div>
  </nav>
</header>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog  modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <form class="needs-validation" (submit)="addPost(postForm)" #postForm="ngForm" enctype="multipart/form-data"
        novalidate>
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Upload Post</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="accordion accordion-flush" id="accordionFlushExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                  Upload Full Image to Cloud
                </button>
              </h2>
              <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                  <div class="input-group mb-3">
                    <input type="file" name="fileInp" class="form-control" id="inputGroupFile02"
                      accept="image/png, image/gif, image/jpeg" (change)="selected($event)" ngModel required multiple>
                  </div>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                  Upload Only Link of the Image to Cloud
                </button>
              </h2>
              <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
                data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                  <div class="input-group mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-default">Image Link</span>
                    <input id="link" name="linkInp" ngModel required type="text" class="form-control"
                      aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="input-group">
            <span class="input-group-text">Description</span>
            <textarea id="des" type="text" class="form-control" name="desInp" ngModel></textarea>
          </div>
          <div *ngIf="postCreationStatus=='success'" class="alert alert-success fade show mt-1 text-center"
            role="alert">
            <strong>Post Created Successfully</strong>
          </div>
          <div *ngIf="postCreationStatus=='empty input'" class="alert alert-danger fade show mt-1 text-center"
            role="alert">
            <strong>Please fill up the necessary Input</strong>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
            (click)="postCreationStatus='uninit'">Close</button>
          <button type="submit" class="btn btn-primary">Upload</button>
        </div>
      </form>
    </div>
  </div>
</div>