<header>
  <nav id="nav1" class="navbar navbar-dark navbar-expand-lg shadow-lg rounded position-relative">
    <div class="container-fluid fs-4 fw-bolder">
      <a class="navbar-brand fs-3 text-shadow" href="#">AGS Market</a>
      <button class="navbar-toggler" (click)="hideTitle()" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link text-shadow" aria-current="page" routerLink="/"><button
                class="btn btn-outline-light">Home</button></a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-shadow" routerLink="/about"><button class="btn btn-outline-light">About</button></a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-shadow" (click)="changeMode()">
              <div *ngIf="this.doc.body.style.backgroundColor==this.defaultBg;else elseBlock">
                <button class="btn btn-outline-light">Dark</button>
              </div>
              <ng-template #elseBlock>
                <button class="btn btn-outline-light">Light</button>
              </ng-template>
            </a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-shadow" href="#" id="navbarDropdown" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              <button class="btn btn-outline-light">Posts</button>
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#exampleModal"
                  (click)="this.postService.emptyUploadForm()">Upload</a>
              </li>
              <li><a class="dropdown-item" href="#search">Find Post</a></li>
            </ul>
          </li>
        </ul>
        <div class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button id="search" class="btn btn-light" routerLink="/" type="submit">Search</button>
        </div>
      </div>
    </div>
  </nav>
</header>

<app-post-form></app-post-form>