<app-nav></app-nav>
<div class="container mb-5" style="margin-top: 100px;" *ngIf="renderPage">
  <table class="table table-dark table-striped mt-5 mb-5">
    <thead>
      <tr>
        <th scope="col">
          <div *ngIf="loading;else elseBlock" class="spinner-border text-light spinner-border-sm" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
          <ng-template #elseBlock>
            Dev
          </ng-template>
        </th>
        <th scope="col">Email</th>
        <th scope="col">Role</th>
        <th scope="col">Grant</th>
        <th scope="col">Save</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of usersArr">
        <th scope="row">{{usersArr.indexOf(user)+1}}</th>
        <td>{{user?.email}}</td>
        <td>{{user?.role}}</td>
        <td>
          <select *ngIf="user?.role!=='dev'" [id]="'selectFor'+usersArr.indexOf(user)"
            class="form-select form-select-sm" [ngModel]="user?.role" aria-label="Default select example">
            <option value="client">Client</option>
            <option value="admin">Admin</option>
          </select>
        </td>
        <td>
          <button *ngIf="user?.role!=='dev'" class="btn btn-sm btn-success"
            (click)="saveChanges(user?.email,'selectFor'+usersArr.indexOf(user))">Save</button>
        </td>
      </tr>
    </tbody>
  </table>

</div>