<div class="post1">
  <div class="card border-dark text-dark hovereffect"
    [ngStyle]="{'border-bottom-left-radius': this.postService.role!=='client'?'0px':'10px','border-bottom-right-radius':this.postService.role!=='client'?'0px':'10px'}"
    style="border-radius: 10px;">
    <div class="image-con">
      <img routerLink="/product/{{post.id}}" [src]="post.imgPath[0]" class="in-img rounded" style="object-fit: cover;"
        alt="Error Loading Image">
      <div class="overlay">
        <h2>{{post.title[21]?post.title.slice(0,20)+"...":post.title}}</h2>
        <a class="mt-5 mb-5 info" (click)="redirect(post.id)">
          View Post
        </a>
        <br>
        <button *ngIf="!postService.savedPosts.includes(post.id);else unSave" (click)="savePost(post.id)"
          class="btn btn-danger"><i class="fas fa-plus"></i> Save</button>
        <ng-template #unSave>
          <button (click)="unSavePost(post.id)" class="btn btn-danger"><i class="fas fa-times"></i> Unsave</button>
        </ng-template>
      </div>
    </div>
    <div routerLink=" /product/{{post.id}}" class="content-con card-body text-center">
      <h5>{{post.title[21]?post.title.slice(0,20)+"...":post.title}}</h5>
      <p class="small text-muted text-uppercase mb-2 un-imp">{{post.category}}</p>
      <p class="un-imp">{{post.des[26]?post.des.slice(0,25)+"...":post.des}}</p>
      <hr>
      <h6 class="mb-3 text-center">
        <span class="text-danger mr-1 d-inline-block">
          <p class="text-dark d-inline-block">Price:-</p> ₹{{post.price + " "}}
          <p class="fw-normal text-muted d-inline-block">{{post.freeShip?'Free Shipping':'Shipping Extra'}}</p>
        </span>
        <p class="text-muted un-imp">Last Updated {{post.updated}}</p>
      </h6>
    </div>
  </div>
  <button *ngIf="this.postService.role!=='client'" class="btn btn-primary btn-sm"
    style="width: 50%;border-top-left-radius:0px;border-top-right-radius:0px; border-bottom-right-radius: 0px;"
    data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="selectedPost(post)"><i
      class="fas fa-edit"></i></button>
  <button *ngIf="this.postService.role!=='client'" class="btn btn-danger btn-sm"
    style="width: 50%;border-top-left-radius:0px;border-top-right-radius:0px;border-bottom-left-radius: 0px;"
    (click)="deleteThisPost(post.id)"><i class="fas fa-trash"></i></button>
</div>