<div style="width:20em; height: 30em;min-height: 30em; margin: 10px">
  <!-- Card -->
  <div class="card" style="border-radius: 10px;">

    <div class="view overlay" style="height: 15em;overflow: hidden;">
      <img class="img-fluid w-100" style="height: 15em; border-radius: 11px;" src="{{post.imgPath[0]}}" alt="Sample">
      <a href="#!">
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>

    <div class="card-body text-center">

      <h5>{{post.title[21]?post.title.slice(0,20)+"...":post.title}}</h5>
      <p class="small text-muted text-uppercase mb-2">{{post.category}}</p>
      <p>{{post.des.slice(0,30)+"..."}}</p>
      <hr>
      <h6 class="mb-3">
        <span class="text-danger mr-1">₹{{post.price + " "}}</span>
        <span class="text-grey"><s>₹{{post.price+500}}</s></span>
      </h6>

      <button class="btn btn-outline-primary btn-sm" style="margin-right: 3px;" data-bs-toggle="modal"
        data-bs-target="#exampleModal" (click)="sendPost(post)">Edit</button>
      <button class="btn btn-outline-danger btn-sm" style="margin-left: 3px;"
        (click)="deleteThisPost(post.id)">Delete</button>
    </div>

  </div>
  <!-- Card -->
</div>
<!-- delete alert Modal -->
<div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete Post</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-center">
        <p class="fw-normal">Are you sure you want to delete this post ?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Abort</button>
        <button type="button" class="btn btn-danger">Delete</button>
      </div>
    </div>
  </div>
</div>