<div style="width:18em; height: 27em;min-height: 27em;margin-inline: 10px;">
  <div class="card border-dark text-dark hovereffect" style="border-radius: 10px;">
    <div style="height: 13em;overflow: hidden;min-height: 13em;">
      <img routerLink="/product/{{post.id}}" [src]="post.imgPath[0]" class="w-100 h-100 rounded"
        style="object-fit: cover;" alt="Error Loading Image">
      <div class="overlay">
        <h2>{{post.title[21]?post.title.slice(0,20)+"...":post.title}}</h2>
        <a class="mt-5 mb-5 info" (click)="redirect(post.id)">
          View Post
        </a>
        <hr style="clear: both;visibility: hidden;">
        <button class="btn btn-primary btn-sm info" style="margin-right: 5px;" data-bs-toggle="modal"
          data-bs-target="#exampleModal" (click)="selectedPost(post)"><i class="fas fa-edit"></i></button>
        <button class="btn btn-danger btn-sm info" style="margin-left: 5px;" (click)="deleteThisPost(post.id)"><i
            class="fas fa-trash"></i></button>
      </div>
    </div>
    <div routerLink="/product/{{post.id}}" class="card-body text-center">
      <h5>{{post.title[21]?post.title.slice(0,20)+"...":post.title}}</h5>
      <p class="small text-muted text-uppercase mb-2">{{post.category}}</p>
      <p>{{post.des[26]?post.des.slice(0,25)+"...":post.des}}</p>
      <hr>
      <h6 class="mb-3 text-center">
        <span class="text-danger mr-1 d-inline-block">
          <p class="text-dark d-inline-block">Price:-</p> ₹{{post.price + " "}}
          <p class="fw-normal text-muted d-inline-block">{{post.freeShip?'Free Shipping':'Shipping Extra'}}</p>
        </span>
        <p class="text-muted">Last Updated {{post.updated}}</p>
      </h6>
    </div>
  </div>
</div>