<div *ngFor="let category of categories">
  <div class="text-center" *ngIf="filterCategories(category,postsArr)">
    <div class="text-center mb-2 p-1">
      <p id="{{category}}" class="display-5 text-light text-decoration-underline"><em>{{category}}</em></p>
    </div>
    <div id="post-container" *ngFor="let post of postsArr" class="card-group mb-3"
      style="overflow: hidden;display:inline-block">
      <div *ngIf="post.category===category">
        <app-specific-post [post]="post"></app-specific-post>
      </div>
      <hr style="color: white;">
    </div>
  </div>
</div>
<div class="d-flex justify-content-center mt-1">
  <app-view-more [loadIndex]="this.PostService.loadIndex" [loading]="this.loading"
    [categoriesLength]="this.PostService.categories().length" (click)="this.loadMoreCat()"></app-view-more>
</div>