<app-nav></app-nav>
<div class="container text-center" style="margin-top: 85px;">
  <button class="btn btn-outline-light w-25 mt-2 mb-1" (click)="back()"><i class="fas fa-arrow-left"></i> Back</button>
</div>
<div class="con container-fluid ">
  <div class="images">
    <div class="container-fluid main-frame mb-3">
      <ng-img-magnifier thumbImage="{{post.imgPath[this.index]}}" fullImage="{{post.imgPath[this.index]}}" [top]="0"
        [right]="0" [lensWidth]="100" [lensHeight]="100" [resultWidth]="30" [resultHeight]="25"></ng-img-magnifier>
    </div>
    <div style="max-width: 300px;" class="ms-2 mb-2">
      <img *ngFor="let img of post.imgPath" [src]="img"
        class="mt-1 mb-1 ms-2 p-1 img-boxes zoom {{ this.index === post.imgPath.indexOf(img)?'in-frame':''}}"
        (click)="pushToFrame(img)">
    </div>
  </div>
  <hr class="bg-light">
  <div class="info text-center m-2">
    <div class="title">
      <h2 class="display-3 text-light">{{post.title}}</h2>
    </div>
    <div class="category">
      <p class="text-muted text-uppercase">{{post.category}}</p>
    </div>
    <div class="price" style="display: flex; justify-content:center;">
      <h4 class="fw-bold fs-2 text-danger"><span class="fw-normal text-light">Price:</span> ₹{{post.price}}</h4>
    </div>
    <p class="fw-normal fs-5"><em>{{post.freeShip?'Free Shipping':'Shipping Extra'}}</em></p>
    <button *ngIf="!postService.savedPosts.includes(post.id);else unSave" (click)="savePost(post.id)"
      class="btn btn-lg btn-outline-danger me-1"><i class="fas fa-plus"></i> Save Post</button>
    <ng-template #unSave>
      <button (click)="unSavePost(post.id)" class="btn btn-lg btn-outline-danger me-1"><i class="fas fa-times"></i>
        Unsave Post</button>
    </ng-template>
    <a href="https://api.whatsapp.com/send?phone=919892503028&text=Hi I'm Interested in this%0A{{url}}">
      <button class="btn btn-lg btn-success ms-1"><i class="fab fa-whatsapp"></i> Message</button>
    </a>
    <div class="description m-3 mb-5">
      <div class="card card-body border border-light" style="background-color: black;">
        <p class="fw-normal fs-3 text-light">Description <button class="btn btn-outline-light btn-sm shadow-none"
            data-bs-toggle="tooltip" data-bs-placement="bottom" title="Copied"><i id="copy" class="fas fa-copy"
              (click)="copyToClipboard()"></i></button></p>
        <p id="description" class="lead text-light">{{post.des}}</p>
      </div>
    </div>
  </div>
</div>