<app-nav></app-nav>
<div class="container mt-4">
  <div class="images">
    <div class="main-frame">
      <ng-img-magnifier thumbImage="{{post.imgPath[this.index]}}" fullImage="{{post.imgPath[this.index]}}" [top]="15"
        [right]="5" [lensWidth]="100" [lensHeight]="100" [resultWidth]="30" [resultHeight]="50">
      </ng-img-magnifier>
    </div>
    <hr class="bg-dark">
    <div style="max-width: 300px;">
      <img *ngFor="let img of post.imgPath" [src]="img"
        class="mt-1 ms-2 img-boxes zoom {{ this.index === post.imgPath.indexOf(img)?'in-frame':''}}"
        (click)="pushToFrame(img)">
    </div>
  </div>
  <div class="info text-center text-dark m-2">
    <div>
      <h3 class="h3">{{post.title}}</h3>
    </div>
  </div>
</div>