/* mobile */
@media only screen and (min-width: 300px) {
  .container{
    overflow-y:scroll;
    box-shadow: 0 0 8px 4px white;
    background-color: black;
    color: white;
    width: fit-content;
    min-width: 310px;
    padding: 10px;
  }

}
/* laptop */
@media only screen and (min-width : 600px) {
  .container{
    overflow-y:scroll;
    box-shadow: 0 0 8px 4px white;
    background-color: black;
    color: white;
    width: fit-content;
    min-width: 310px;
    display: flex;
    padding: 10px;
  }
  .images{
    position:sticky;
    top:0
 } 
}

 

.img-rounded{
  height: 300px;
  width: 300px;
}

.img-boxes{
  overflow: hidden;
  border-radius: 50px;
  height: 50px;
  width: 50px;
}

.zoom {
  padding: 2px;
}

.in-frame {
  border:whitesmoke 3px solid;
}

.info{
  height: 300px;
  width: 300px;
}
