<div>
  <div class="bg-img">
    <div class="container-custom w-100">
      <app-nav></app-nav>
      <h3 class="main-title text-shadow text-dark fw-bolder mb-5">AGS Market</h3>
      <a href="#post-container"><button class="btn btn-lg btn-warning mt-5"><strong>Get
            Started</strong></button></a>
    </div>
  </div>
</div>
<div class="text-center mt-2 p-1">
  <p class="display-5 text-light mt-3"><em>Showing Latest</em></p>
</div>
<div class="mt-5">
  <app-post-container></app-post-container>
</div>