.bg-img {
  /* The image used */
  background-image: url("../../assets/images/b4.jpg");
  color: azure;
  height: 500px;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  /* Needed to position the navbar */
  position: relative;
}

/* Position the navbar container inside the image */


.text-shadow{
  text-shadow: 5px 5px 5px #0c0c0c;
}

.main-title{
  position: relative;
  text-align: center;
  top:200px;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size:7em;
}

.btn-lg{
  position: absolute;
  bottom: 8px;
  left: 50%;
  transform: translate(-50%, -50%);

}