.bg-img {
  /* The image used */
  background-image: url("https://source.unsplash.com/1600x900/?shopping");
  color: azure;
  height: 550px;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  /* Needed to position the navbar */
  position: relative;
}

/* Position the navbar container inside the image */
.container-custom {
  position: absolute;
}

.main-title{
  position: absolute;
  text-align: center;
  top:200px;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size:7em;
}

.btn-lg{
  position: absolute;
  top:350px;
  left: 50%;
  transform: translate(-50%, -50%);
}